:root {
    --font-size84: 84px;
    --font-size32: 32px;
    --font-size24: 24px;
    --font-size20: 20px;
    --black-color: black;
    --white-color: white;
}

body {
    margin: 0;
    padding: 0;
}

header {
    width: 90%;
    padding: 50px 5% 125px 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--white-color);

}

.logo {
    font-size: var(--font-size84);
    font-family: 'Futuralightc';
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0 0 0 -350px;
    padding: 0;
}

nav ul li {
    font-size: var(--font-size24);
    margin: 0 50px;
    font-family: 'MontserratRegular';
}

nav ul li a {
    text-decoration: none;
    color: var(--white-color);
}

header * {
    display: flex;
    align-items: center;
}

.dropbtn {
    padding: 5px;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    color: var(--white-color);
    font-size: var(--font-size20);
    font-family: 'MontserratRegular';
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--white-color);
    font-family: 'MontserratRegular';
    width: 55px;
}

.dropbtn
{
  width: 45px;
}

.dropbtn::after {
    background: url("../image/arrow-down.png") no-repeat scroll center center;
    content: "";
    height: 16px;
    position: absolute;
    right: 0;
    top: 7px;
    width: 16px;
}


.dropdown-content a {
    color: var(--black-color);
    padding: 2px 0 2px 5px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

main {
    background-image: url('../image/background.png');
    background-size: cover;
    height: 1080px;
    position: relative;
}

.a-button {
    font-size: 32px;
    color:var(--white-color);
    text-decoration: solid underline 2px;
    text-underline-offset: 3px;
    font-family: 'MontserratMedium';
}

.projects {
    display: flex;
    width: 90%;
    margin: auto;
}

.block2 {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.block-button {
    position: absolute;
    padding: 175px 0 0 5%;
}

.image1, .image2 {
    width: 49.5%;
    height: 1080px;
}

.image1 {
    background-image: url('../image/image\ 6.png');
    background-size: cover;
}

.image2 {
    background-image: url('../image/image\ 7.png');
    background-size: cover;
}

footer {
    width: 90%;
    margin: 50px auto 50px auto;
    font-size: var(--font-size24);
    font-family: 'MontserratMedium';
}

.column {
    display: flex;
    margin: 30px auto;
    justify-content: space-between;
}

.columns {
    padding: 20px 0 20px 0;
}

.column ul {
    margin: 0 auto;
}

.column ul li {
    margin: 0 0 10px 0;
    display: flex;
    font-size: var(--font-size24);
    font-family: 'Futuralightc';
}

.columns-line {
    max-height: 25%;
    min-width: 2px;
    background-color: black;
}

.icons {
    width: 26px;
    height: 26px;
    display: flex;
    margin-right: 20px;
}

.telephone1 {
    background-image: url('../image/tel1.png');
    background-size: cover;
}
.telephone2 {
    background-image: url('../image/tel2.png');
    background-size: cover;
}
.telegram {
    background-image: url('../image/telgram.png');
    background-size: cover;
}
.mail {
    background-image: url('../image/mail.png');
    background-size: cover;
}
.vk {
    margin-left: 20px;
    background-image: url('../image/vk.png');
    background-size: cover;
}
.facebook {
    background-image: url('../image/face.png');
    background-size: cover;
}
.inst {
    background-image: url('../image/insta.png');
    background-size: cover;
}

.contact {
    font-size: var(--font-size32);
    font-family: 'MontserratMedium';
}

.footer-last-text {
    color: rgb(97, 97, 97);
    font-size: var(--font-size20);
}